.fa-snowflake{
    transition:all linear;
    animation:rot 2s linear infinite
}
@keyframes rot{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
a:hover {
    box-shadow:0 8px 6px -6px rgb(154, 170, 204);
  }


