h3,p{
    color:white;
}
#success_home{
    display:flex;
    flex-direction: column;
    height:600px;
    align-items: center;
    justify-content: center;
}
#success_home::before{
    content:"";
   position:absolute;
       z-index:-1;
       width:100%;
      top:0px;
      left:0px;
       height:100vh;
      opacity: 0.8;
       background:url("/front-end-images/people.jpg") no-repeat center center/cover;
   }
   @media screen and (min-width:940px){
    .mobile{
      display: none;
    }
   }
   @media screen and (max-width:940px){
     #side-bar{
       display: none;
     }
     .right-bar{
      display: none;
     }
   }

